<launch>
    <!-- Start ROS communication between the robot's computer and robot's base -->
    <node pkg="rosserial_python" name="rosserial_mamba" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="57600" />
    </node>

    <!-- Publish test -->
    <node pkg="ros_test" name="talker" type="talker" output="screen"></node>

    <!-- Subscribe test -->
    <node pkg="ros_test" name="listener" type="listener" output="screen"></node>

</launch>
